* {
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#hear{
    background-color: bisque;
}
#sidehover button {
    
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}
#sidehover button:hover {
    left: 0;
}
aside{
    height: 40%; 
    width: 0; 
    position: fixed; 
    top: 120px;
    left: 0;
    background-color: wheat; 
    overflow-x: hidden; 
    padding-top: 70px; 
    transition: 0.5s; /* 0.5 second waktu trasisi animasi */
    text-decoration: none;
    border-radius: 10px;
}
li a {
    text-decoration: none;
    color: skyblue;
    list-style:disc;
    background-color: blanchedalmond;
    padding: 3px;
    border-radius: 10px;
}
li a:hover {
    color: aqua;
}

aside .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    margin-left: 50px;
    text-decoration: none;
    color: royalblue;
  }
  .openbtn {
    top: 130px;
    font-size: 20px;
    cursor: pointer;
    background-color: coral;
    padding: 10px 15px;
    border: none;
  }
  .openbtn:hover {
    background-color: coral;
  }

header {
    background: black;
    padding: 20px;
}
section {
    background: greenyellow;
    color: blueviolet;
    display: flex;
}

main {
    text-align: center;
}
.page-container {
    display: flex;
    flex-direction: column;

    padding: 0 1rem;
}

.align-center {
    align-items: center;
}
/*about--------------------------------*/
.socials-container {
    display: flex;
    justify-content: space-between;
}
.socials-card {
    display: flex;
    align-items: center;

    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem;

    text-decoration: none;
    color: unset;
}
.socials-card:hover {
    background-color: lightgray;
}

.socials-card > i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}
#canvas1{
    background: black;
}